<%= form_with(model: game)  do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "form-control form-control-dark text-bg-dark" %>
      <br>
    </div>

    <div>
      <%= form.label :igdb_id, "IGDB ID", style: "display: block" %>
      <%= form.text_field :igdb_id, class: "form-control form-control-dark text-bg-dark" %>
      <br>
    </div>

    <div>
      <%= form.fields_for :game_status do |status_form| %>
        <%= status_form.label :status, style: "display: block" %>
        <%= status_form.select :status,
                                options_for_select([nil] + GameStatus.statuses.keys.map { |status| [status.humanize, status] },
                                                  game.game_status.status),
                                { },
                                class: "form-control form-control-dark text-bg-dark form-select" %>
        <br>
      <% end %>
    </div>

    <div>
      <%= form.submit class: "form-control form-control-dark text-bg-dark" %>
    </div>
  </div>
<% end %>
