<div>
  <h2><%= @list.name %></h2>
  <table id="trophies_table" class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @list.trophies.each do |trophy| %>
        <tr>
          <td><%= image_tag(trophy.icon_url, width: 56, height: 56) %></td>
          <td>
            <b><%= trophy.name %></b>
            <p class='fw-light'><%= trophy.detail %></p>
          </td>
          <td><%= trophy_rank_icon(trophy.rank) %></td>
          <td>
            <%== hidden_icon if trophy.hidden %>
          </td>
          <td><%= trophy.progress_target %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
