<div>
  <h2><%= @list.name %></h2>
  <table>
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Detail</th>
        <th scope="col">Rank</th>
        <th scope="col">Hidden</th>
        <th scope="col">Progress</th>
        <th scope="col">Reward</th>
      </tr>
    </thead>
    <tbody>
      <% @list.trophies.each do |trophy| %>
        <tr>
          <td><%= image_tag(trophy.icon_url, width: "56", height: "56") %></td>
          <td><%= trophy.name %></td>
          <td><%= trophy.detail %></td>
          <td><%= trophy.rank %></td>
          <td><%= trophy.hidden %></td>
          <td><%= trophy.progress_target %></td>
          <td><%= trophy.reward_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
