<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class='container'>
      <a class="navbar-brand pt-1" href="/">
        <%= image_tag("site_logo.png", width: "45", height: "30", class: "d-inline-block align-top", alt: "logo") %>
        BacklogManager
      </a>

      <ul class="navbar-nav me-auto">
        <!-- Also rendered in devise controllers so current_page? does not work -->
        <li class="nav-item">
          <%= link_to 'Accounts', psn_accounts_path, class: "nav-link #{'active' if controller.controller_name == 'psn_accounts'}" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Games', games_path, class: "nav-link #{'active' if controller.controller_name == 'games'}" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Import
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item disabled" href="#">IGDB</a></li>
            <li><a class="dropdown-item disabled" href="#">PSN</a></li>
            <li><a class="dropdown-item disabled" href="#">Steam</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item disabled" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search"
               class="disabled form-control form-control-dark text-bg-dark"
               placeholder="Search..."
               aria-label="Search">
      </form>

      <div class="text-end">
        <% if user_signed_in? %>
          <li class="navbar-nav me-auto nav-item dropdown">
            <a class="nav-link dropdown-toggle profile-dropdown bg-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.username %>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item disabled" href="#">My Profile</a></li>
              <li><a class="dropdown-item disabled" href="#">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% else %>
          <div class="center">
            <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light me-2" %>
            <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-warning" %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
</header>
